<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Objects</a></li>
        <li class="active">Import Object</li>
    </ol>
    <!-- end breadcrumb -->
    
    <!-- begin page-header -->
    <h1 class="page-header">Import Object</h1>
    <!-- end page-header -->
    <!-- begin import-component -->
    <import-component  importObjectType="Object"></import-component>
    <!-- end import-component -->

    